---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/modules/AboutMe/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/modules/Experience/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/modules/Projects/Projects.astro"
import SectionContainer from "@/modules/Section/SectionContainer.astro"
import Personal from "@/modules/Personal/Personal.astro"
import ThreeScene from "@/modules/ThreeScene/ThreeScene.astro"

import { getI18n } from "@/i18n"
import { getLangFromUrl } from "@/utils/lang"

const lang = getLangFromUrl(Astro.url)
Astro.locals.lang = lang
Astro.locals.t = getI18n(lang)
const { t } = Astro.locals
---

<Layout title={t.seo.title}
        description={t.seo.description}>
    <main class="px-4">
        <SectionContainer class="min-h-screen flex items-center">
            <div class="w-full flex flex-col md:flex-row items-center justify-center gap-8 md:gap-12">
                <Personal/>
                <div class="w-full md:w-1/2 max-w-md">
                    <ThreeScene/>
                </div>
            </div>
        </SectionContainer>
        <div class="space-y-24">
            <SectionContainer id="experiencia">

                <Experience/>
            </SectionContainer>

            <SectionContainer id="proyectos">
                <h2 class="flex items-center mb-2 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
                    <CodeIcon class="size-7"/>
                    {t.projects.title}
                </h2>
                <Projects />
            </SectionContainer>

            <SectionContainer id="sobre-mi">
                <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white">
                    <ProfileCheck class="size-8"/>
                    {t.aboutMe.title}
                </h2>
                <AboutMe/>
            </SectionContainer>
        </div>
    </main>
</Layout>

<script>
    function initAnchorScroll() {
      document.querySelectorAll('a[href^="#"]').forEach(link => {
        link.onclick = (e) => {
          const id = link.getAttribute('href').slice(1)
          const target = document.getElementById(id)
          if (!target) return
  
          e.preventDefault()
          target.scrollIntoView({ behavior: 'smooth' })
          history.pushState(null, '', `#${id}`)
        }
      })
    }
  
    document.addEventListener('astro:page-load', initAnchorScroll)
  </script>